build/
__pycache__
*.py[cod]
*~
@*
/build
/env*/
docs/build/
*.iml
/out/
.venv*/
.mypy_cache/
.incremental_checker_cache.json
.cache
dmypy.json
.dmypy.json

# Packages
*.egg
*.egg-info
*.eggs

# IDEs
.idea
*.swp
.vscode

# Operating Systems
.DS_Store

# Coverage Files
htmlcov
.coverage*

# pytest cache
.pytest_cache/

# virtualenv
.Python
bin/
lib/
include/

.tox
pip-wheel-metadata


test_capi
*.o
*.a
test_capi
/.mypyc-flake8-cache.json
/mypyc/lib-rt/build/
/mypyc/lib-rt/*.so
