# NOTE: this needs to be kept in sync with the "requires" list in pyproject.toml
# and the pins in setup.py
typing_extensions>=4.6.0
mypy_extensions>=1.0.0
pathspec>=0.9.0
tomli>=1.1.0; python_version<'3.11'
librt>=0.4.0
